/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    margin-top: 20px;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

.footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.btn {
    margin-right: 10px;
}

h2 {
    color: #343a40;
}
